
@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900; 
    font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-optical-sizing: auto;
  font-display: swap;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  
  /* Primary colors */
  --color-primary: #6D00FF;
  --color-primary-hover: #747bff;
  --color-primary-border: #646cff;
  
  /* Secondary colors */
  --color-secondary: #00FFA5;
  --color-yellow-card: #E7D93F;
  
  /* Background colors */
  --color-background: #181921;
  --color-background-muted: #24252F;
  --color-background-surface: #1D1E2B;
  
  /* Foreground colors */
  --color-foreground-base: #FFFFFF;
  --color-foreground-muted: #D1D5DB;
  --color-foreground-subtle: #E5E7EB;
  --color-foreground-danger: #EE5E52;
  
  /* Border and surface colors */
  --color-border-base: #292B41;
  --color-surface: #E6E0E9;
}


.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}


body {
  font-family: var(--font-sans);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
