
@import "tailwindcss";

@theme {
  /* Primary colors */
  --color-primary: #6D00FF;
  --color-primary-hover: #747bff;
  --color-primary-border: #646cff;
  
  /* Secondary colors */
  --color-secondary: #00FFA5;
  --color-yellow-card: #E7D93F;
  
  /* Background colors */
  --color-background: #181921;
  --color-background-muted: #24252F;
  --color-background-surface: #1D1E2B;
  
  /* Foreground colors */
  --color-foreground-base: #FFFFFF;
  --color-foreground-muted: #D1D5DB;
  --color-foreground-subtle: #E5E7EB;
  --color-foreground-danger: #EE5E52;
  
  /* Border and surface colors */
  --color-border-base: #292B41;
  --color-surface: #E6E0E9;
}


@media (max-width: 767px) {
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
